The collaborative filter approach focuses on finding users who have given similar ratings to the same books, thus creating a link between users, to whom will be suggested books that were reviewed in a positive way. In this way, we look for associations between users, not between books.

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:
rating = pd.read_csv('FoodRatings2.csv', sep=';', error_bad_lines=False, encoding="latin-1")
user = pd.read_csv('UserID.csv', sep=';', error_bad_lines=False, encoding="latin-1")
food = pd.read_csv('Food.csv', sep=';', error_bad_lines=False, encoding="latin-1")
food_rating = pd.merge(rating, food, on='foodid')
cols = ['UserID', 'FoodID', 'Rating', 'Food']
##food_rating.drop(cols, axis=1, inplace=True)
food_rating

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_26616\2323556517.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  rating = pd.read_csv('FoodRatings2.csv', sep=';', error_bad_lines=False, encoding="latin-1")
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_26616\2323556517.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  user = pd.read_csv('UserID.csv', sep=';', error_bad_lines=False, encoding="latin-1")
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_26616\2323556517.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  food = pd.read_csv('Food.csv', sep=';', error_bad_lines=False, encoding="latin-1")

      userid  foodid  rating                   food
0         99       9       2        Bee Hoon Goreng
1         99       9       2        Bee Hoon Goreng
2         98       9       2        Bee Hoon Goreng
3         95       9       3        Bee Hoon Goreng
4         92       9       4        Bee Hoon Goreng
...      ...     ...     ...                    ...
7445      12      23       2  Curry chicken noodles
7446      11      23       5  Curry chicken noodles
7447      11      23       3  Curry chicken noodles
7448      11      23       3  Curry chicken noodles
7449       1      23       4  Curry chicken noodles

[7450 rows x 4 columns]

In [3]:
rating_count = (food_rating.
     groupby(by = ['food'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'RatingCount_Food'})
     [['food', 'RatingCount_Food']])
rating_count

            food  RatingCount_Food
0    Assam Pedas                40
1    Ayam Penyet                74
2    Bak Kut Teh                80
3   Bak chor mee                76
4          Bakso                98
..           ...               ...
84         rawon                99
85  soup kambing                93
86      takoyaki                83
87          text                78
88       tom yum                79

[89 rows x 2 columns]

In [4]:
threshold = 10
rating_count = rating_count.query('RatingCount_Food >= @threshold')
rating_count.head()

           food  RatingCount_Food
0   Assam Pedas                40
1   Ayam Penyet                74
2   Bak Kut Teh                80
3  Bak chor mee                76
4         Bakso                98

In [5]:
user_rating = pd.merge(rating_count, food_rating, left_on='food', right_on='food', how='left')

In [6]:
user_rating.head()

          food  RatingCount_Food  userid  foodid  rating
0  Assam Pedas                40      99       1       4
1  Assam Pedas                40      97       1       3
2  Assam Pedas                40      84       1       4
3  Assam Pedas                40      83       1       3
4  Assam Pedas                40      83       1       2

In [7]:
user_count = (user_rating.
     groupby(by = ['userid'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'RatingCount_user'})
     [['userid', 'RatingCount_user']]
    )
user_count

     userid  RatingCount_user
0         1                33
1         2                86
2         3                69
3         4                68
4         5                69
..      ...               ...
96       97                79
97       98                86
98       99                89
99      100                28
100     123                 9

[101 rows x 2 columns]

In [8]:
threshold = 9
user_count = user_count.query('RatingCount_user >= @threshold')
user_count

     userid  RatingCount_user
0         1                33
1         2                86
2         3                69
3         4                68
4         5                69
..      ...               ...
96       97                79
97       98                86
98       99                89
99      100                28
100     123                 9

[101 rows x 2 columns]

In [9]:
combined = user_rating.merge(user_count, left_on = 'userid', right_on = 'userid', how = 'inner')

In [10]:
combined

             food  RatingCount_Food  userid  foodid  rating  RatingCount_user
0     Assam Pedas                40      99       1       4                89
1     Ayam Penyet                74      99       3       5                89
2     Bak Kut Teh                80      99       5       4                89
3     Bak Kut Teh                80      99       5       4                89
4     Bak Kut Teh                80      99       5       3                89
...           ...               ...     ...     ...     ...               ...
7445     takoyaki                83       1      80       2                33
7446      tom yum                79       1      85       4                33
7447      tom yum                79       1      85       4                33
7448      tom yum                79       1      85       4                33
7449      tom yum                79       1      85       4                33

[7450 rows x 6 columns]

In [14]:
combined.shape
combined.loc[combined['userid'] == 89]

,food,RatingCount_Food,userid,foodid,rating,RatingCount_user
2946,Ayam Penyet,74,89,3,3,61
2947,Bak Kut Teh,80,89,5,1,61
2948,Bakso,98,89,6,4,61
2949,Bakso,98,89,6,2,61
2950,BanMian,90,89,7,4,61
...,...,...,...,...,...,...
3002,oyster omelette,75,89,58,5,61
3003,rawon,99,89,65,2,61
3004,takoyaki,83,89,80,3,61
3005,takoyaki,83,89,80,2,61
3006,tom yum,79,89,85,1,61

In [77]:
print('Number of unique Food: ', combined['food'].nunique())
print('Number of unique Users: ', combined['userid'].nunique())

Number of unique Food:  89
Number of unique Users:  101

Normalize the ratings.

In [15]:
scaler = MinMaxScaler()
combined['rating'] = combined['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['rating'].values.reshape(-1,1)))
combined['rating'] = rating_scaled
combined['rating']

0       0.75
1       1.00
2       0.75
3       0.75
4       0.50
        ...
7445    0.25
7446    0.75
7447    0.75
7448    0.75
7449    0.75
Name: rating, Length: 7450, dtype: float64

Abd build the user book matrix.

In [79]:
combined = combined.drop_duplicates(['userid', 'food'])
user_food_matrix = combined.pivot(index='userid', columns='food', values='rating')
user_food_matrix.fillna(0, inplace=True)

users = user_food_matrix.index.tolist()
books = user_food_matrix.columns.tolist()

user_food_matrix = user_food_matrix.values

tf.placeholder only available in v1, so we have to work around.

In [80]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

We will initialize the TensorFlow placeholder. Then, weights and biases are randomly initialized, the following code are taken from the book: Python Machine Learning Cook Book - Second Edition

In [81]:
num_input = combined['food'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

Now, we can build the encoder and decoder model, as follows:

In [82]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

We will construct the model and the predictions

In [83]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

define loss function and optimizer, and minimize the squared error, and define the evaluation metrics

In [84]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

Initialize the variables. Because TensorFlow uses computational graphs for its operations, placeholders and variables must be initialized.

In [85]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

We can finally start to train our model.

We split training data into batches, and we feed the network with them.

We train our model with vectors of user ratings, each vector represents a user and each column a book, and entries are ratings that the user gave to books. 

After a few trials, I discovered that training model for 5 epochs with a batch size of 10 would be consum enough memory. This means that the entire training set will feed our neural network 20 times, every time using 50 users.

In [86]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_food_matrix.shape[0] / batch_size)
    user_food_matrix = np.array_split(user_food_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_food_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_food_matrix = np.concatenate(user_food_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_food_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='rating')
    pred_data.columns = ['userid', 'food', 'rating']
    pred_data['userid'] = pred_data['userid'].map(lambda value: users[value])
    pred_data['food'] = pred_data['food'].map(lambda value: books[value])
    
    keys = ['userid', 'food']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['userid', 'rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('userid').head(10)

epoch: 1 Loss: 0.25147198140621185
epoch: 2 Loss: 0.2514423802495003
epoch: 3 Loss: 0.25140944868326187
epoch: 4 Loss: 0.25137293338775635
epoch: 5 Loss: 0.2513323128223419
epoch: 6 Loss: 0.25128717720508575
epoch: 7 Loss: 0.25123705714941025
epoch: 8 Loss: 0.25118137151002884
epoch: 9 Loss: 0.2511195242404938
epoch: 10 Loss: 0.25105077028274536
epoch: 11 Loss: 0.2509744018316269
epoch: 12 Loss: 0.2508895695209503
epoch: 13 Loss: 0.25079529732465744
epoch: 14 Loss: 0.25069062411785126
epoch: 15 Loss: 0.2505743205547333
epoch: 16 Loss: 0.2504451125860214
epoch: 17 Loss: 0.2503015995025635
epoch: 18 Loss: 0.2501421943306923
epoch: 19 Loss: 0.24996519088745117
epoch: 20 Loss: 0.24976854771375656
epoch: 21 Loss: 0.2495502308011055
epoch: 22 Loss: 0.24930781871080399
epoch: 23 Loss: 0.24903862178325653
epoch: 24 Loss: 0.2487398162484169
epoch: 25 Loss: 0.24840817600488663
epoch: 26 Loss: 0.24804013222455978
epoch: 27 Loss: 0.24763184040784836
epoch: 28 Loss: 0.24717902392148972
epoch: 29 Loss: 0.2466769516468048
epoch: 30 Loss: 0.2461206018924713
epoch: 31 Loss: 0.2455044686794281
epoch: 32 Loss: 0.24482255429029465
epoch: 33 Loss: 0.24406850337982178
epoch: 34 Loss: 0.24323558062314987
epoch: 35 Loss: 0.24231677502393723
epoch: 36 Loss: 0.24130481481552124
epoch: 37 Loss: 0.24019251763820648
epoch: 38 Loss: 0.23897277563810349
epoch: 39 Loss: 0.23763907700777054
epoch: 40 Loss: 0.2361857295036316
epoch: 41 Loss: 0.2346082106232643
epoch: 42 Loss: 0.23290375620126724
epoch: 43 Loss: 0.23107147961854935
epoch: 44 Loss: 0.2291129305958748
epoch: 45 Loss: 0.2270319163799286
epoch: 46 Loss: 0.22483451664447784
epoch: 47 Loss: 0.22252871841192245
epoch: 48 Loss: 0.22012362629175186
epoch: 49 Loss: 0.21762893348932266
epoch: 50 Loss: 0.21505390107631683
epoch: 51 Loss: 0.21240682154893875
epoch: 52 Loss: 0.20969445258378983
epoch: 53 Loss: 0.20692159235477448
epoch: 54 Loss: 0.2040911763906479
epoch: 55 Loss: 0.2012041211128235
epoch: 56 Loss: 0.19825949519872665
epoch: 57 Loss: 0.19525466859340668
epoch: 58 Loss: 0.19218555092811584
epoch: 59 Loss: 0.1890466958284378
epoch: 60 Loss: 0.18583160638809204
epoch: 61 Loss: 0.18253286182880402
epoch: 62 Loss: 0.17914234846830368
epoch: 63 Loss: 0.17565201967954636
epoch: 64 Loss: 0.1720552146434784
epoch: 65 Loss: 0.16835012286901474
epoch: 66 Loss: 0.16454512625932693
epoch: 67 Loss: 0.16066664457321167
epoch: 68 Loss: 0.15676666051149368
epoch: 69 Loss: 0.1529260128736496
epoch: 70 Loss: 0.14924806356430054
epoch: 71 Loss: 0.14584029465913773
epoch: 72 Loss: 0.14278961718082428
epoch: 73 Loss: 0.1401454359292984
epoch: 74 Loss: 0.13792064785957336
epoch: 75 Loss: 0.13610219210386276
epoch: 76 Loss: 0.13465877622365952
epoch: 77 Loss: 0.13354574888944626
epoch: 78 Loss: 0.13271138817071915
epoch: 79 Loss: 0.1321035474538803
epoch: 80 Loss: 0.1316736564040184
epoch: 81 Loss: 0.13137823343276978
epoch: 82 Loss: 0.13117915391921997
epoch: 83 Loss: 0.13104423880577087
epoch: 84 Loss: 0.1309478059411049
epoch: 85 Loss: 0.13087093085050583
epoch: 86 Loss: 0.13080094754695892
epoch: 87 Loss: 0.13073019683361053
epoch: 88 Loss: 0.1306547299027443
epoch: 89 Loss: 0.13057147711515427
epoch: 90 Loss: 0.13047342002391815
epoch: 91 Loss: 0.13035207986831665
epoch: 92 Loss: 0.13020671159029007
epoch: 93 Loss: 0.13004102557897568
epoch: 94 Loss: 0.12985599786043167
epoch: 95 Loss: 0.12965034693479538
epoch: 96 Loss: 0.12942390888929367
epoch: 97 Loss: 0.1291857808828354
epoch: 98 Loss: 0.1290360391139984
epoch: 99 Loss: 0.12909339368343353
epoch: 100 Loss: 0.12854989618062973

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_14596\655726344.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pred_data = pred_data.append(pd.DataFrame(preds))

In [87]:
top_ten_ranked.loc[top_ten_ranked['userid'] == 123]

      userid              food    rating
8947     123              Naan  0.474494
8945     123       Mixed Grill  0.421142
8962     123            Satay   0.409449
8949     123        Nasi lemak  0.402324
8909     123  Beef Noodle Soup  0.387966
8961     123        Roti prata  0.383087
8943     123          Mee siam  0.382068
8984     123             rawon  0.381636
8919     123     Crab bee Hoon  0.379773
8916     123     Char siu rice  0.378318

In [25]:
book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

,User-ID,ISBN,Book-Rating,Book-Title
174885,278582,0226848620,10,Chinese Bell Murders (Judge Dee Mysteries)
176582,278582,157566254X,10,"Skin Deep, Blood Red"
40008,278582,0441478123,10,The Left Hand of Darkness (Remembering Tomorrow)
174861,278582,0061044725,10,Search the Shadows
58156,278582,0451202503,10,The Songcatcher: A Ballad Novel
64570,278582,1400034779,10,The No. 1 Ladies' Detective Agency (Today Show...
175958,278582,0345350499,10,The Mists of Avalon
176314,278582,0449223558,9,Murdering Mr. Monti: A Merry Little Tale of Se...
174877,278582,0140277471,9,Blanche Cleans Up
176438,278582,0515136557,8,The Cat Who Brought Down the House
176503,278582,0671877445,8,"Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A..."
176484,278582,055327239X,8,Service of All the Dead
176187,278582,0425191583,8,Imitation in Death (Eve Dallas Mysteries (Pape...
175949,278582,0345348176,8,From Doon With Death
176263,278582,0449003183,8,Brunswick Gardens (Charlotte &amp; Thomas Pitt...
176290,278582,0449206874,8,One Fine Day the Rabbi Bought a Cross
176305,278582,0449217213,8,Incident at Badamya
174882,278582,0141001976,8,Blanche Passes Go
176584,278582,1890208442,8,Daddy's Gone A-Hunting (Wesley Farrell Novels)
176572,278582,0804109818,8,The Jewel That Was Ours
23996,278582,0449221512,8,I Is for Innocent
60802,278582,0671001795,8,Two for the Dough
108791,278582,0345440064,8,Death of a Stranger
176517,278582,0743406583,7,Maggody and the Moonbeams
174895,278582,0312957785,7,The Venus Throw
175303,278582,0312980140,7,Seven Up (A Stephanie Plum Novel)
175596,278582,0312983867,7,Hard Eight : A Stephanie Plum Novel (A Stephan...
176171,278582,0425190927,7,The Wife Test
176139,278582,0425163717,7,Holiday in Death
176562,278582,0743480562,6,"CSI, Miami: Heat Wave"
176567,278582,0765344513,6,Over the Wine-Dark Sea (Hellenistic Seafaring ...
175905,278582,0312991460,6,To the Nines (A Stephanie Plum Novel)
176255,278582,0425193772,5,Indigo Dying
175763,278582,0312990456,5,One for the Money (A Stephanie Plum Novel)
175506,278582,0312983298,3,Full Speed (Janet Evanovich's Full Series)
174867,278582,0061063746,2,Hang Loose
176571,278582,076534503X,0,The Gryphon's Skull (Hellenistic Seafaring Adv...
176389,278582,048627263X,0,Flatland: A Romance of Many Dimensions (Dover ...
176565,278582,0743497988,0,Law and Order Deadline : An Original Law and O...
176486,278582,0553574027,0,Antarctica
176579,278582,1555971792,0,The Body in Four Parts
176385,278582,0451208498,0,Thieves' Paradise
176524,278582,0743448677,0,Without Pity : Ann Rule's Most Dangerous Killers
14574,278582,0312966970,0,Four To Score (A Stephanie Plum Novel)
176331,278582,0451205146,0,Black Hawk Down (Movie Tie-in)
17190,278582,0553581112,0,Justice Hall: A Mary Russell Novel (Mary Russe...
175758,278582,0312985649,0,A Grave Denied (A Kate Shugak Novel)
175103,278582,0312976275,0,Hot Six : A Stephanie Plum Novel (A Stephanie ...
174902,278582,0312971346,0,High Five (A Stephanie Plum Novel)
174891,278582,0312851561,0,The Sword of Samurai Cat (Tor Fantasy)
174890,278582,0312168586,0,Great Harry
174869,278582,0140250360,0,Blanche Among the Talented Tenth
174852,278582,0061032484,0,Children of the Storm
174815,278582,0060549270,0,A Greek God at the Ladies' Club (Avon Romance)
174814,278582,0060534397,0,All Shall Be Well
174809,278582,0060534389,0,A Share in Death
116741,278582,0380817152,0,The Golden One : A Novel of Suspense
46554,278582,0312966091,0,Three To Get Deadly : A Stephanie Plum Novel (...
24674,278582,0425175405,0,Black Notice
175760,278582,0312986327,0,Out on a Limb (A Claire Malloy Mystery)